@model ICollection<Comment>

<h2>Comments</h2>

@foreach (Comment comment in Model)
{
    <p><b>@comment.User.UserName:</b></p>
    <p>@comment.Content</p>
}

<form class="form" asp-action="Create" asp-controller="Comment" method="post">
    <textarea name="content" rows="5" cols="50"></textarea>
    <br />
    <button type="submit">Add Comment</button>
</form>