@using SD_340_W22SD_2021_2022___Final_Project_2.Models.ViewModels;

@model CreateTicketViewModel

<h2>Create New Task for @Model.Project.Name</h2>
<form asp-action="Create" asp-controller="Ticket" asp-route-projectId="@Model.Project.Id" method="post">
    <label class="form-label" asp-for="Ticket.Name"></label>
    <input class="form-text" asp-for="Ticket.Name" />
    <div>
        <span asp-validation-for="Ticket.Name" class="text-danger"></span>
    </div>
    <hr />

    <label class="form-label" asp-for="Ticket.Hours"></label>
    <input class="form-text" asp-for="Ticket.Hours" />
    
    <hr />

    <label for="priority"><h6>Set Priority</h6></label>
    <br />
    <select name="priority">
        <option value="0">Low</option>
        <option value="1">Medium</option>
        <option value="2">High</option>
    </select>

    <hr />

    <h6>Select Task Owner</h6>
    <select name="taskOwnerIds">
    @foreach (ApplicationUser developer in Model.Developers)
    {
        <option value="@developer.Id">@developer.UserName</option>
    }
    </select>
    <hr />

    <button type="submit">Create Task</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}