@model IEnumerable<ApplicationUser>

@foreach(ApplicationUser user in Model)
{
    <h4>@user.UserName</h4>
}

<form asp-action="Create" method="post">
    <label for="name">Project Name:</label>
    <input type="text" name="name" />
    <button type="submit">Create Project</button>
</form>