@model IEnumerable<ApplicationUser>

<form asp-action="Create" asp-controller="Project" method="post">
    <label for="name"><h6>Name Project</h6></label>
    <br />
    <input type="text" name="name" />

    <hr />

    <h6>Assign Developers</h6>
    @foreach (ApplicationUser developer in Model)
    {
        <div>
            <input type="checkbox" id="developerIds" name="developerIds" value="@developer.Id">
            <label for="developerIds">@developer.UserName</label>
        </div>
    }

    <hr />

    <button type="submit">Create Project</button>
</form>