@model IEnumerable<SD_340_W22SD_2021_2022___Final_Project_2.Models.Project>

<h1>List of Projects</h1>

<a asp-action="Create" asp-controller="Project">Create</a>

@foreach (Project project in Model)
{
    <h4>@project.Name</h4>
}
