@model IEnumerable<SD_340_W22SD_2021_2022___Final_Project_2.Models.Project>

<h1>List of Projects</h1>

<ul>
    @foreach (Project project in Model)
    {
        <li>
            @project.Name
        </li>
    }
</ul>
